.hoverBox:hover .subDiv{

opacity:1;
}


.collage{
    position: absolute;
}

.container{
    position:relative;
    width: 100vw;
    height: 100px;
}

button:hover{
    color:blueviolet;
}

body{
    background-image:url("Cat_Image_Web_Page.png");
    background-size:100vw auto;
    min-width:800px;
}

.collage{
    position:absolute;
}

.show{
    opacity:0;
    position:absolute;
    top:5vw;
    left:5vw;
}

.hoverArea:hover .show{
    opacity:1;
}

.hoverArea{
    width:20vw;
    height:10vw;
    background-color: blue;
    position:relative;
}