.page-header{
    display: flex;
    justify-content:center;
    align-items: center;
    
    position:relative;
    width:100vw;
    margin:0;
}
    

.title-box{
   background-color: azure;
   border: 5px solid rgb(0, 0, 0);
   padding-left:5vw;
   padding-right:5vw;
}

h1{
    font-size:60px;
}

.hoverBox:hover .subDiv{
opacity:1;
}

.container{
    position:relative;
    width: 100vw;
    height: 100px;
}

button:hover{
    color:blueviolet;
}

body{
    background-image:url("Cat_Image_Web_Page.png");
    background-size:100vw auto;
    min-width:800px;
}

.collage{
    position:absolute;
}

.rotate-right{
    rotate: 25deg;
}

.rotate-left{
    rotate:-20deg;
}


.show{
    opacity:0;
    position:absolute;
    top:5vw;
    left:5vw;
}

.hoverArea:hover .show{
    opacity:1;
}

.hoverArea{
    width:20vw;
    height:10vw;
    position:relative;
}

.display{
  width: 320px;
  height: 250px;
  padding: 10px;
  background-color:white;
  border: 5px solid rgb(0, 0, 0);
  margin: 0;
  position: absolute;
  top: 10vw;
}
