.page-header{
    text-align:center;
    justify-content:center;
    background-color: azure;
    position:relative;
    width:100vw;
    height:70px;
    margin:0;
}


.hoverBox:hover .subDiv{

opacity:1;
}


.collage{
    position: absolute;
}

.container{
    position:relative;
    width: 100vw;
    height: 100px;
}

button:hover{
    color:blueviolet;
}

body{
    background-image:url("Cat_Image_Web_Page.png");
    background-size:100vw auto;
    min-width:800px;
}

.collage{
    position:absolute;
    rotate: 25deg;
}

.collage2{
    position:absolute;
    rotate:-20deg;
}

.show{
    opacity:0;
    position:absolute;
    top:5vw;
    left:5vw;
}

.hoverArea:hover .show{
    opacity:1;
}

.hoverArea4{
    width:
    height:
    position:relative;
}

.hoverArea3{
    width:20vw;
    height:10vw;
    position:relative;left:5px; top:430px;
}

.hoverArea2{
    width:20vw;
    height:10vw;
    position:relative;left:10px; top:430px;
}