.hoverBox:hover .subDiv{

opacity:1;}

link rel=stylesheet" href="Starter.css

.collage{
    position: absolute ;
}

.container{
    position:relative;
    width: 100vw;
    height: 100px;
}

button:hover{
    color:blueviolet
}
